<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-scola | Professor | Requisições</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-prof">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="align-middle">
                    <span class="material-icons md-36">
                        auto_stories
                    </span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../relatorios.html">Relatórios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Alunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../registrar.html">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../materiais.html">Materiais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../frequencia.html">Frequência</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../notas.html">Notas</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <button class="btn btn-danger" onclick="window.location.href='../../index.html'">Logout</button>
                </span>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 side-nav prof-bg">
                <h2>Alunos</h2>
                <div class="list-group">
                    <a href="../alunos.html" class="list-group-item list-group-item-action" aria-current="true">Lista de
                        alunos</a>
                    <a href="./cadastrar.html" class="list-group-item list-group-item-action">Cadastrar em
                        atividades</a>
                    <a href="#" class="list-group-item list-group-item-action prof-active">Requisições
                        pendentes</a>
                </div>
            </div>
            <div class="col">
                <h2>Aprovar requisições</h1>

                    <span id="avisoRequisicaoAprovada" style="display: none;">
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                            <div>
                                <strong>Requisição aprovada!</strong>
                            </div>
                        </div>
                    </span>
    
                    <span id="avisoRequisicaoReprovada" style="display: none;">
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-exclamation-octagon-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                                <path
                                    d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            <div>
                                <strong>Requisição reprovada.</strong>
                            </div>
                        </div>
                    </span>
    


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Matérias</th>
                                <th scope="col">Atividades registradas</th>
                                <th scope="col">Aprovar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="alunoLista">
                                <th scope="row">Carlos Mignon</th>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item">Português</li>
                                        <li class="list-group-item">Matemática</li>
                                        <li class="list-group-item">Física</li>
                                        <li class="list-group-item">Química</li>
                                        <li class="list-group-item">História</li>
                                        <li class="list-group-item">Geografia</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item">Fotografia</li>
                                        <li class="list-group-item">Francês</li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="row-auto">
                                        <button class="btn btn-outline-success" onclick="alertaAprovar()">Aprovar</button>
                                        <button class="btn btn-outline-danger" onclick="alertaReprovar()">Reprovar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>