<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-scola | Aluno | Calendário</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-aluno">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="align-middle">
                    <span class="material-icons md-36">
                        auto_stories
                    </span>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navTeste">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="calendario.html">Calendário</a>
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="materiais.html">Materiais</a>
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="agenda.html">Agenda de provas</a>
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="atividades.html">Atividades extras</a>
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="chat.html">Chat com professores</a>
                            </a>
                    </ul>
                </div>
            </div>

            <span class="navbar-text">
                <button class="btn btn-danger" onclick="window.location.href='../index.html'">Logout</button>
            </span>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 side-nav aluno-bg">
                <h2>Calendário</h2>
                <ul class="list-group mb-3">
                    <a href="#aulas" class="list-group-item list-group-item-action aluno-active">
                        Aulas
                    </a>
                    <a a href="#provas" class="list-group-item list-group-item-action">
                        Provas
                    </a>
                    <a href="#trabalhos" class="list-group-item list-group-item-action">
                        Trabalhos
                    </a>
                    <a href="#atividades" class="list-group-item list-group-item-action">
                        Atividades
                    </a>
                </ul>
            </div>

            <div class="col ms-3 mt-3 me-3">
                <div class="row">
                    <div class="col">
                        <div id="aulas">
                            <h3>Aulas</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col">Aulas</th>
                                        <th class="col">Dias</th>
                                        <th class="col">Horários</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Matemática</td>
                                        <td>Segunda-feira</td>
                                        <td>9h</td>
                                    </tr>
                                    <tr>
                                        <td>História</td>
                                        <td>Segunda-feira</td>
                                        <td>11h</td>
                                    </tr>
                                    <tr>
                                        <td>Geografia</td>
                                        <td>Terça-feira</td>
                                        <td>9h</td>
                                    </tr>
                                    <tr>
                                        <td>Ciências</td>
                                        <td>Terça-feira</td>
                                        <td>11h</td>
                                    </tr>
                                    <tr>
                                        <td>Português</td>
                                        <td>Quarta-feira</td>
                                        <td>9h</td>
                                    </tr>
                                    <tr>
                                        <td>Espanhol</td>
                                        <td>Quinta-feira</td>
                                        <td>9h</td>
                                    </tr>
                                    <tr>
                                        <td>Sociologia</td>
                                        <td>Sexta-feira</td>
                                        <td>11h</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col">
                        <div id="materias">
                            <h3>Provas</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col">Matéria</th>
                                        <th class="col">Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Matemática</td>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item">28/02</li>
                                                <li class="list-group-item">14/03</li>
                                                <li class="list-group-item">28/03</li>
                                                <li class="list-group-item">11/04</li>
                                                <li class="list-group-item">09/05</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="materias">
                            <h3>Trabalhos</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col">Matéria</th>
                                        <th class="col">Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Geografia</td>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item">08/03</li>
                                                <li class="list-group-item">19/04</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="atividades" class="row my-3">
                    <h3>Atividades</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col">Atividade</th>
                                <th class="col">Dias</th>
                                <th class="col">Horário</th>
                                <th class="col">Local</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fotografia</td>
                                <td>Quarta-feira</td>
                                <td>11h</td>
                                <td>Sala 15B</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </div>
</body>