<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-scola | Aluno | Materiais</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-aluno">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="align-middle">
                    <span class="material-icons md-36">
                        auto_stories
                    </span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navTeste">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="calendario.html">Calendário</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="materiais.html">Materiais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="agenda.html">Agenda de provas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="atividades.html">Atividades extras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="chat.html">Chat com professores</a>
                        </li>
                    </ul>
                </div>

                <span class="navbar-text">
                    <button class="btn btn-danger" onclick="window.location.href='../index.html'">Logout</button>
                </span>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 side-nav aluno-bg">
                <h2>Materiais</h2>
                <ul class="list-group">
                    <a href="#" class="list-group-item list-group-item-action aluno-active">
                        Matemática
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        História
                    </a>
                    <a a href="#" class="list-group-item list-group-item-action">
                        Geografia
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Ciências
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Português
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Espanhol
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Sociologia
                    </a>
                </ul>
            </div>

            <div class="col me-2">
                <div class="col m-4">

                    <table class="table table-striped">
                        <thead>
                            <th scope="col">Matemática</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>

                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th scope="col">História</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th scope="col">Geografia</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th scope="col">Ciências</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th scope="col">Português</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th scope="col">Espanhol</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th scope="col">Sociologia</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>