<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incrementando uma Lista</title>
</head>

<body>
    <h2>Receita de bolo caseiro</h2>
    <h3>Ingredientes</h3>
    <input type="text" id="ingrediente" />
    <button onclick="adicionar()">Adicionar ingredientes</button>
    <br>
    <ul id="lista">
        <li>Prof, posso te dar uma dica?</li>
        <li>Claro, pode falar</li>
        <li>A senhora poderia colocar mais vídeos durante a aula</li>
        <li>Obrigada pela dica, Mateus!</li>
    </ul>
    <h3>Mensagem</h3>
    <textarea type="text" id="preparo" rows="6" cols="50"></textarea>
    <br>
    <button onclick="preparar()">Enviar</button>
    <p id="paragrafo">AAAAAAAA</p>
</body>
<script src="InserindoemLista.js"></script>

</html>