<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-scola | Responsáveis | Contato com prof</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-pais">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <span class="align-middle">
                    <span class="material-icons md-36">
                        auto_stories
                    </span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navTeste">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="matricula.html">Matricula</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="vidaEscolar.html">Vida escolar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="financeiro.html">Financeiro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="conteudo.html">Conteúdo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactProf.html">Contato com professores</a>
                        </li>
                    </ul>
                </div>
            </div>

            <span class="navbar-text">
                <button class="btn btn-danger" onclick="window.location.href='../index.html'">Logout</button>
            </span>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 side-nav pais-bg">
              <h2>Entre em contato com professores e diretoria</h2>
        
              
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">Prof. Mariana Costa</a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">Prof. Luciano X</a>
                    <a href="#" class="list-group-item list-group-item-action pais-active" aria-current="true">Prof. Maria Nazare</a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">Prof. Jonny Deep</a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">Diretora Luciana Mendes</a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">Pedagoga Sandra Pillon</a>
                </div>
                  
            </div>


            <div class="col">

                <div class="row">
                    <div class="col-6">
                        <h3>Últimas mensagens</h3>
                        <hr>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <p class="badge bg-success text-wrap fs-6 text-start" style="background-color: green;">
                                        Olá professora, gostaria de saber sobre a nota do trabalho extra da Angelina Vieira.
                                    </p>
                                    <br>
                                    
                                    <p class="badge bg-secondary text-wrap fs-6">
                                        Olá Responsável, irei corrigir o trabalho hoje.
                                    </p>
                                    <br>

                                    <p class="badge bg-success text-wrap fs-6 text-start">
                                        Obrigada professora. Como anda a vida escolar da minha filha? 
                                    </p>
                                    <br>

                                    <p class="badge bg-secondary text-wrap fs-6">
                                        Ela é uma otima aluna, entrega os trabalho em dia e tira notas boas, porém conversa bastantee durante as aulas.
                                    </p>
                                    <br>
                                    <p class="badge bg-success text-wrap fs-6 text-start">
                                        Irei chamar atenção dela ! 
                                    </p>
                                    <br>
                                    <p class="badge bg-secondary text-wrap fs-6">
                                        Se tiver interesse podemos marcar uma reunião para discutirmos sobre, mas não é nada grave, mas pode atraoalhar ela em um futuro.
                                    </p>
                                    <br>
                                    <p class="badge bg-success text-wrap fs-6 text-start">
                                        Perfeito, marcamos sim, obrigada pela atenção.
                                    </p>
                                    
                                    <br>
                                    <span id="mensagemEnviada"></span>

                                    <br>
                                    <div class="row">
                                        <div class="form-floating col">
                                            <textarea class="form-control" placeholder="Digite uma mensagem"
                                                id="mensagem"></textarea>
                                        </div>
                                        <span class="col-auto">
                                            <button type="submit" value="enviarMsg" class="btn btn-outline-success"
                                                onclick="enviarMensagem()">Enviar</button>
                                        </span>
                                    </div>


                                    
                                    
                                    
                                </tr>
                             </tbody>
                              
                        </table>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
            <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
            <script src="javascript.js"></script>
            <script src="script.js"></script>




</body>

</html>