<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-scola | Responsáveis | Conteúdo</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-pais">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <span class="align-middle">
                    <span class="material-icons md-36">
                        auto_stories
                    </span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="matricula.html">Matricula</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vidaEscolar.html">Vida escolar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="financeiro.html">Financeiro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="conteudo.html">Conteúdo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactProf.html">Contato com professores</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <button class="btn btn-danger" onclick="window.location.href='../index.html'">Logout</button>
                </span>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 side-nav pais-bg">
                <h2>Materiais</h2>
                <ul class="list-group">
                    <a href="#id-mat" class="list-group-item list-group-item-action ">
                        Matemática
                    </a>
                    <a href="#id-hist" class="list-group-item list-group-item-action">
                        História
                    </a>
                    <a a href="#id-geo" class="list-group-item list-group-item-action">
                        Geografia
                    </a>
                    <a href="#id-cie" class="list-group-item list-group-item-action pais-active">
                        Ciências
                    </a>
                    <a href="#id-port" class="list-group-item list-group-item-action">
                        Português
                    </a>
                    <a href="#id-esp" class="list-group-item list-group-item-action">
                        Espanhol
                    </a>
                    <a href="#id-soc" class="list-group-item list-group-item-action">
                        Sociologia
                    </a>
                </ul>
            </div>

            <div class="col me-2">
                <div class="col m-4">

                    <table class="table table-striped">
                        <thead>
                            <th id="id-mat" scope="col">Matemática</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>

                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th id="id-hist" scope="col">História</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th id="id-geo" scope="col">Geografia</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th id="id-cie"scope="col">Ciências</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th id="id-port"scope="col">Português</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th id="id-esp" scope="col">Espanhol</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <th id="id-soc" scope="col">Sociologia</th>
                            <th></th>
                        </thead>
                        <tr>
                            <td>Assunto A</td>
                            <td>Material A</td>
                        </tr>
                        <tr>
                            <td>Assunto B</td>
                            <td>Material B</td>
                        </tr>
                        <tr>
                            <td>Assunto C</td>
                            <td>Material C</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>