:root {
    --aluno-light: #a9def9;
    --aluno-dark: #0d84bf;
    --prof-light: #f4bb90;
    --prof-dark: #CC6414;
    --pais-light: #BDEFD1;
    --pais-dark: #28A45A;
    --func-light: #ebdead;
    --func-dark: #CBAD40;
    --gen-light: #FF99B8;
    --gen-dark: #B80037;
}

.nav-aluno {
    background-color: var(--aluno-light);
}

.nav-prof {
    background-color: var(--prof-light);
}

body{
    background: url(../img/fundo-linhas.png), url(../img/fundo-textura.png);
    background-position: center;
}

/*-------------- HOME----------------->*/
.titulos-h1 {
    display: flex;
    font-weight: bold;
    font-size: 40px;
    color: #07171e;
    text-align: center;

  }
h2{
    color: #07171e;
}
p{
  color: #000000;
}

.inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 100px;
  
  }

.div-perfies {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    gap: 15px;
  }

.div-acesso {
    display: flex;
    width: 33%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .div-inicial-pais {
    display: flex;
    width: 100%;
    height: 50px;
  
    background: var(--pais-light);
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
  } 

  .div-inicial-aluno {
    display: flex;
    width: 100%;
    height: 50px;
  
    background: var(--aluno-light);
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
  }

  .div-inicial-prof {
    display: flex;
    width: 100%;
    height: 50px;
  
    background: var(--prof-light);
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
  }

  .div-inicial-func {
    display: flex;
    width: 100%;
    height: 50px;
  
    background: var(--func-light);
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
  }

  .div-img {
    display: flex;
    width: 100%;
    height: 250px;
    background: #c1afc9;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    align-items: center;
    gap: 30px;
    justify-content: center;
  
  }



  /*------CONTATO-------*/  
  .links-contatos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 80px;
  
    padding: 80px;
    
    border: 1px solid rgba(8, 8, 8, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(200px);
  
    border-radius: 15px;
  }
